.bet-event {
	width : 40%;
}

.bet-date {
	width: 20%;
}

.bet-result {
	width: 10%;
}

.bet-type {
	width: 30%;
}

.full{
	width: 100%;
}

.bets-list {
	width: 40%;
	float: left;
}

.results {
	width: 33.3%;
}
.won {
	background: #239954;
	color: #fff;
}

.lost {
	background: #c85f46;
	color: #fff;
}

.void {
	background: blue;
}

body {
	background: #f5f5f5;
	vertical-align: baseline;
	line-height: 1.1;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

tr {
 width: 100%;
}

thead {
	background-color: #ddd;
	color: #222;
	width: 100%;
}

table {
	border-collapse:collapse;
    border:0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
    table-layout: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
   border-bottom: 1px solid rgba(0,0,0,0.09);
   font-size: 0.95em;
}

.header {
	height: 44px;
	background: #232323;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
}

.content {
	margin-top: 44px;
	padding: 1em;
}

.headerMenu {
	height: 100%;
	width: 100%;
	line-height: 44px;
	display: inline-block;
	color: white;
}

li {
	display: list-item;
	font-size: 1.1em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.file {
	padding: 1.5em;
}

.parentMenuItem {
	position: relative;
	height: 100%;
}

.normalContentWidth {
	max-width: 1000px;
	width: 100%;
	min-width: 1000px;
	margin:0 auto;
	height: 100%;
}