body {
    background: #f5f5f5;
    vertical-align: baseline;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

tr {
    width: 100%;
}

thead {
    background-color: #ddd;
    color: #222;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
    table-layout: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    overflow-y: hidden
}

th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    font-size: 0.8em !important;
}

.label {
    font-size: 0.95em !important;
}

li {
    display: list-item;
    font-size: 1.1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file {
    padding: 0.5em;
}

.bet-date,
.bet-event {
    border-radius: 2px;
}

.boldFont {
    font-weight: bold;
}

.w30 {
    width: 30%;
    float: left;
}

.w70 {
    float: left;
    width: 70%;
}

#container {
    max-width: 600px;
    margin: 0 auto
}
